html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'IM Fell French Canon SC', serif;
  background-image: url("../img/marble.png");
}

label {
  margin: auto;
  text-align: center;
  text-align: center;
  width: 100%;
  font-size: x-large;
  
}

select {
  margin: auto;
  margin-top: 1%;
  font-size: large;
  font-family: 'IM Fell French Canon SC', serif;
  box-shadow: 3px 4px gray;
  margin-bottom: 1%;
  margin-left: 1%;
}

.btn {
  background-color: white;
  float: right;
  font-size: large;
  margin-top: .2%;
  margin-right: 2%;
  box-shadow: 3px 4px gray;
}

#publishingBox {
  text-align: center;
  margin: auto;
  width: 50%;
  background-color: white;
  border-radius: 30px;
  font-weight: 800;
  
  box-shadow: 5px 10px gray;
}

form {
  margin-top: 2%;
  border: 1px solid black;
  box-shadow: 5px 10px gray;
  border-radius: 10px;
}

.container{
  border: 1px solid blue;
  min-height: 100%;
  overflow: hidden;
}

body {
  border: 1px solid green;
  height: 100%;
}

