html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'IM Fell French Canon SC', serif;
  background-image: url("../img/marble.png");
  overflow-x: hidden;
}

label {
  margin: auto;
  text-align: center;
  text-align: center;
  width: 100%;
  font-size: x-large;
  
}

select {
  margin: auto;
  margin-top: 1%;
  font-size: large;
  font-family: 'IM Fell French Canon SC', serif;
  box-shadow: 3px 4px gray;
  margin-bottom: 1%;
  margin-left: 1%;
}

.btn {
  background-color: white;
  float: right;
  font-size: large;
  margin-top: .2%;
  margin-right: 2%;
  box-shadow: 3px 4px gray;
}

#publishingBox {
  text-align: center;
  margin: auto;
  width: 50%;
  background-color: white;
  border-radius: 30px;
  font-weight: 800;
  box-shadow: 5px 10px gray;
  margin-bottom: .5%;
}

form {
  margin-left: 7%;
  margin-top: 0px;
  border: 1px solid black;
  box-shadow: 5px 10px gray;
  border-radius: 10px;
  width: 23%;
  min-height: 100%;
}

.container{
  min-height: 100%;
}

body {
  border: 1px solid green;
  height: 100%;
}



.sliding-background {
  background: url("../img/marble.png");
  min-height: 100%;
  width: 5076px;
  animation: slide-left 60s linear infinite;
}

@keyframes slide-left{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}

.sliding-right {

  animation: slide-right 60s linear infinite;
}

@keyframes slide-right{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(+1692px, 0, 0);
  }
}