html, body {
  height: 99%;
}

body {
  font-family: 'IM Fell French Canon SC', serif;
  background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0695/4768/rcalcutta_marble_grey__shop_preview.png");
  background-repeat: repeat;
}

label {
  margin: auto;
  text-align: center;
  text-align: center;
  width: 100%;
  font-size: x-large;
}

button {
  float: right;
}
